<div id="barraInfoDocumento" class="bg-primary text-white p-2 shadow-sm mb-4">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <i id="iconeDocumento" class="bi bi-cart-dash fs-4 me-3"></i>
            <span class="fs-6 opacity-75" id="labelDocumento">
                {{ "Cotação em edição:" if tipodocumento == "COTACAO" else "Pedido em edição:" }}
            </span>
            <strong id="displayNumDocumento" class="fs-5 ms-2">
                {{ pedido_existente if pedido_existente else ("Nova Cotação" if tipodocumento == "COTACAO" else "Novo Pedido") }}
            </strong>
        </div>
        <div id="statusDocumentoBadge" class="badge bg-white text-primary rounded-pill px-3 py-1">
            Status: <span id="textStatus">Em Andamento</span>
        </div>
    </div>
</div>